<div class="get">
  <section class="get-intro" layout="column" layout-align="center center">
    <div class="container">
      <div class="row">
        <div class="col s12 m7 l7 left-align">
          <h2>Get more Tinder matches!</h2>
          <p>Submit your intended Tinder <i class="fa fa-file-image-o"></i> profile pictures and <i class="fa fa-file-text-o"></i> bio(s). Peers will see &amp; critique them!</p>
        </div>
        <div class="col s12 m5 l5 right-align">
          <span class="faded-headline">Complete Form Below</span>
        </div>
      </div>
    </div>
  </section>
  <section class="get-pics">
    <div class="section-header container left-align">
      <h3><i class="fa fa-upload"></i> Upload Your Intended Tinder Profile Pictures (at least 3)</h3>
    </div>
    <div class="container left-align">
      <div class="row">
        <div class="col s12 m6 l3">
          <div class="card">
            <div class="card-image">
              <img src="/static/img/profiles/1/1.jpg">
              <span class="card-title">1*</span>
            </div>
            <div class="card-action">
              <div class="row">
                <div class="col s6">
                  <a href=""><i class="fa fa-file-picture-o"></i> Change</a>
                </div>
                <div class="col s6">
                  <a href=""><i class="fa fa-trash-o"></i> Remove</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l3">
          <div class="card">
            <div class="card-image">
              <img src="/static/img/profiles/1/2.jpg">
              <span class="card-title">2*</span>
            </div>
            <div class="card-action">
              <div class="row">
                <div class="col s6">
                  <a href=""><i class="fa fa-file-picture-o"></i> Change</a>
                </div>
                <div class="col s6">
                  <a href=""><i class="fa fa-trash-o"></i> Remove</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l3">
          <div class="card empty">
            <div class="card-image" layout="column" layout-align="center center">
              <span class="card-title">3*</span>
              <span class="add-pic-icon"><i class="fa fa-image"></i></span>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l3">
          <div class="card empty">
            <div class="card-image" layout="column" layout-align="center center">
              <span class="card-title">4</span>
              <span class="add-pic-icon"><i class="fa fa-image"></i></span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m6 l3">
          <div class="card empty">
            <div class="card-image" layout="column" layout-align="center center">
              <span class="card-title">5</span>
              <span class="add-pic-icon"><i class="fa fa-image"></i></span>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l3">
          <div class="card empty">
            <div class="card-image" layout="column" layout-align="center center">
              <span class="card-title">6</span>
              <span class="add-pic-icon"><i class="fa fa-image"></i></span>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l3">
          <div class="card empty">
            <div class="card-image" layout="column" layout-align="center center">
              <span class="card-title">7</span>
              <span class="add-pic-icon"><i class="fa fa-image"></i></span>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l3">
          <div class="card empty">
            <div class="card-image" layout="column" layout-align="center center">
              <span class="card-title">8</span>
              <span class="add-pic-icon"><i class="fa fa-image"></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="get-bios">
    <div class="section-header container left-align">
      <h3><i class="fa fa-pencil-square-o"></i> Add Your Potential Tinder Bios</h3>
    </div>
    <div class="bios container left-align z-depth-1">
      <form>
        <div class="row">
          <div class="col s12 m4 l4">
            <div class="row">
              <div class="input-field col s12">
                <textarea id="bio1" class="materialize-textarea" length="500"></textarea>
                <label for="bio1">Bio 1</label>
              </div>
            </div>
          </div>
          <div class="col s12 m4 l4">
            <div class="row">
              <div class="input-field col s12">
                <textarea id="bio2" class="materialize-textarea" length="500"></textarea>
                <label for="bio2">Bio 2 (optional)</label>
              </div>
            </div>
          </div>
          <div class="col s12 m4 l4">
            <div class="row">
              <div class="input-field col s12">
                <textarea id="bio3" class="materialize-textarea" length="500"></textarea>
                <label for="bio3">Bio 3 (optional)</label>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </section>
  <section class="get-context">
    <div class="section-header container left-align">
      <h3><i class="fa fa-user"></i> Intentions &amp; Context</h3>
    </div>
    <form action="" class="container">
      <div class="input-field">
        <div class="row">
          <div class="col s12 m4 l4">
            <select class="intention">
              <option value="" disabled selected>Choose your intention</option>
              <option value="1">Short-Term Dating</option>
              <option value="2">Long-Term Dating</option>
              <option value="3">Casual Connections</option>
            </select>
          </div>
          <div class="input-field col s12 m8 l8 left-align">
            <textarea id="context" class="materialize-textarea"></textarea>
            <label for="context">Describe what you're searching for, generally</label>
          </div>
        </div>
      </div>
    </form>
  </section>
  <section class="get-submit">
    <div class="container">
      <div class="row">
        <div class="col s12 m8 l8" layout="row" layout-align="start center">
          <h3><i class="fa fa-check-square-o"></i> Submit for Critique</h3>
        </div>
        <div class="col s12 m4 l4" layout="row" layout-align="end center">
          <input type="submit">
        </div>
      </div>
    </div>
  </section>
</div>
<script>
// make pictures square
var cw = $('.card-image').width();
$('.card-image').css({'height':cw+'px'});

</script>