<div class="give" layout="column" layout-align="center center">
  <section class="get-intro" layout="column" layout-align="center center">
    <div class="container">
      <div class="row">
        <div class="col s12 m7 l7 left-align">
          <h2>Step 3/3</h2>
          <p>Critique profile pictures &amp; bios in a few simple steps</p>
        </div>
        <div class="col s12 m5 l5 right-align">
          <span class="faded-headline">Complete Steps Below!</span>
        </div>
      </div>
    </div>
  </section>
  <section class="bio-feedback">
    <div class="container left-align">
      <div class="section-header left-align">
        <h3><i class="fa fa-file-text-o"></i> Lastly, critique your peer's <strong>bio!</strong></h3>
      </div>
      <div class="row">
        <div class="col s12 m4">
          <h4></h4>
          <p class="blue-grey">I am a part-time waiter at Red Robin and a C.S. student at UC San Diego.</p>
        </div>
        <div class="col s12 m5 offset-m2 l5 offset-l2 card">
          <h5>Add Feedback</h5>
          <div class="row">
            <form class="col s12">
              <div class="row first-pic-feedback">
                <div class="input-field col s12">
                  <textarea id="first-pic-feedback" class="materialize-textarea"></textarea>
                  <label for="first-pic-feedback">Add feedback!</label>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="container right-align">
      <a href="#giveCritique" class="continue-button button">Finish</a>
    </div>
</div>