<div id="home">
  <section class="home-give" layout="column" layout-align="center center">
    <h2>Help Tinder users get matches!</h2>
    <h4>Give feedback to your peers' Tinder profiles</h4>
    <a href="#give" class="button"><i class="fa fa-pencil-square-o"></i> See &amp; Critique Profiles</a>
  </section>
  <section class="home-get" layout="column" layout-align="center center">
    <h2>Get more Tinder matches!</h2>
    <h4>Receive feedback for your Tinder profile!</h4>
    <a href="#get" class="button"><i class="fa fa-file-text-o"></i> Request Profile Feedback</a>
  </section>
  <section class="home-about blue-grey lighten-5" layout="column" layout-align="center center">
    <div class="row">
      <div class="col s12 m4 l4">
        <img src="/static/img/resources/tinder.png" alt="Tinder Logo">
        <h3>Heading1</h3>
        <p>perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odi</p>
      </div>
      <div class="col s12 m4 l4">
        <img src="/static/img/resources/girl.jpg" alt="Tinder Girl">
        <h3>Heading2</h3>
        <p>perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odi</p>
      </div>
      <div class="col s12 m4 l4">
        <img src="/static/img/resources/match.jpg" alt="Tinder Match">
        <h3>Heading3</h3>
        <p>perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odi</p>
      </div>
    </div>
  </section>
  <footer class="global-footer v-depth-2">
    <div class="container left-align">
      <p class="copyright">Critinder <i class="fa fa-copyright"></i> 2016</p>
      <p>Built by a team at UC San Diego for <em>COGS 160: Social Computing</em></p>
    </div>
  </footer>
</div>